body {
    background-color: #FBFFF1;
    color: #3C3744;
}
.header-btn {
    background-color: #3C3744;
    border: 1px solid #ced4da;
    color: #FBFFF1;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.header-btn:hover {
    background-color:#3C3744; 
    color: #FBFFF1; 
    border-color: #ced4da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

header {
    background-color: #ced4da ;
}


.service-card {
    background-color: #B4C5E4;
    border: 1px solid #3D52D5;
}

.service-card h5 {
    color: #090C9B;
}

.service-card img {
    height: 150px;
    object-fit: cover;
}
footer {
    margin-top: auto;
    background-color: #3C3744;
}

