body {
    background-color: #FBFFF1;
    color: #3C3744;
}

h1 {
    color: #090C9B;
}

.btn-primary {
    background-color: #3D52D5;
    border-color: #3D52D5;
}

.btn-secondary {
    background-color: #B4C5E4;
    border-color: #B4C5E4;
    color: #3C3744;
}

.form-group label {
    color: #3C3744;
}

.form-control-file {
    border: 1px solid #3C3744;
}

.container {
    background-color: #B4C5E4;
    padding: 20px;
    border-radius: 10px;
}