body {
    font-family: Arial, sans-serif;
    color: #3C3744;
}
<<<<<<< HEAD
header {
    background-color: #ced4da ;
}
.btn{
    background-color:#3C3744;
    border: 1px solid #ced4da;
    
}

.btn:hover {
    background-color: #3C3744; 
    border-color: #ced4da;
  }


=======
>>>>>>> 2b3dca95233f9e96a574da90362e7a02785b9e1f

.header {
    background: linear-gradient(rgba(3, 7, 100, 0.7), rgba(60, 55, 68, 0.7)), url('/freelance/background.png') center/cover no-repeat;
    color: #FBFFF1; 
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
}

.header p {
    font-size: 16px;
    margin-bottom: 30px;
}

.header .btn-outline-light {
    border-color: #FBFFF1; 
    color: #FBFFF1;
}

.header .btn-outline-light:hover {
    background-color: #3C3744; 
    border-color: #3C3744; 
    color: #FBFFF1; 
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-top: auto;
    margin: auto;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    color: #3C3744;
}

.btn-primary {
    background-color: #3D52D5 !important;
    border: none;
}

.btn-primary:hover {
    background-color: #090C9B !important;
<<<<<<< HEAD
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: #3C3744;
=======
>>>>>>> 2b3dca95233f9e96a574da90362e7a02785b9e1f
}