body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3778f0;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #B4C5E4;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

h2 {
    text-align: center;
    
}

form {
    display: flex;
    flex-direction: column;
}

label {
    background-color: #B4C5E4;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #3d52d5;
    border-radius: 5px;
}

button {
    background-color: #1b7af6;
    color: #3C3744;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3D52D5;
}

p {
    text-align: center;
}

label {
    display: block;
    margin-bottom: auto;
    font-weight: bold;
    color: #3d52d5;
}

.terms label {
    display: inline;
    color: #B4C5E4;
    font-size: 14px;

}

#privacy{
    color: #090C9B;
    text-decoration: underline;
    cursor: pointer;
margin-left: 5px;
font-size: small;


}

#condizioni{
    display: inline-block;
        margin-right: 10px;
    background-color: #090C9B;
    margin-top: 20px;
padding: 10px;
}

#acceptTerms{
display: inline-block;
     inline-size: 20px;
     margin-top: 10px;
     padding: 5px;
}

#Condizioni input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px; }

  
    .social-div {
        margin-bottom: 20px; 
    }



    #submitBtn{
        background-color: #71a1e0;
        color: #3D52D5;
        border: none;
        cursor: pointer;
        padding: 5px;

    }

/*c
090C9B
3D52D5
B4C5E4
FBFFF1*/