body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.dashboard-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}
h2{
    background: #090C9B;
    color: white;
}
.orders {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 20px;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
th {
    background: #090C9B;
    color: white;
}
#text{
    background-color: #090C9B;
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#x{
    background: #090C9B;
}
#b{
    background-color: #B4C5E4;
}