header {
    background-color: #ced4da ;
    height: 100px;
}
.btn{
    background-color:#3C3744;
    border: 1px solid #ced4da;
    
}

.btn:hover {
    background-color: #3C3744; /* Colore di sfondo al passaggio del mouse */
    border-color: #ced4da;
  }

  header .navbar-brand {
    display: flex;
    align-items: center; 
    height: 250%; 
}

header .navbar-brand img {
    height: 50%;  
    width: auto;   
}
